body {
  font-family:"Figtree","Zen Kaku Gothic Antique",sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffefd;
  color:#44403c;
  font-size:18px;
}
header {
  background-color: #fffefd;
  border-bottom: 1px solid #333;
  position:fixed;
  padding:0;
  box-sizing: border-box;
  width:100vw;
  top:0;
  left:0;
  padding:15px max(5vw, calc(50vw - 500px));
}
h1{
  font-size:25px;
  line-height:25px;
  font-weight:400;
  padding:0;
  margin:0;
}
main{
  margin-top:56px;
  max-width:1000px;
}
footer{
  border-top: 1px solid #333; text-align:center;
}
footer span{
  margin:5px;
}
